.artist-name {
  font-size: 40px;
  font-weight: 250;
  margin: 5px;
}

.artist-name:hover {
  text-decoration: line-through;
}

.all-artist-image {
  display: none;
  height: 30vh;
}

.artist-container:hover .all-artist-image {
  display: block;
}

.artist-container {
  position: relative;
}

.artist-grid-container {
  margin-top: 170px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}
