.artist-details-container {
  margin-top: 170px;
}

.artist-details p {
  margin-top: 0;
}

.artist-image {
  width: 99%;
  margin: 0 auto;
  display: block;
}

.artist-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.artist-image-container .artist-image {
  width: 100%;
}

.artist-favourites-button,
.artist-remove-button {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  text-align: center;
  width: 150px;
  height: 30px;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 30px;
}

.artist-remove-button {
  margin-left: 20px;
  width: 200px;
}

.artist {
  font-size: 500%;
  margin-bottom: 40px;
  margin-right: 1px;
  text-align: right;
}

.artist-realName {
  font-size: 40px;
  font-weight: 250;
  margin-bottom: 40px;
  margin-left: 60px;
}

.artist-location {
  font-size: 20px;
  font-weight: 250;
  margin-bottom: 0px;
  margin-left: 300px;
}