.artist-name {
  font-size: 40px;
  font-weight: 250;
  margin: 5px;
}

.artist-name:hover {
  text-decoration: line-through;
}

.artist-grid-container {
  margin-top: 170px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}