.artist-details-container {
  margin-top: 170px;
}

.artist-details p {
  margin-top: 0;
}

.artist-image {
  width: 99%;
  margin-bottom: 0;
  display: block;
}

.artist-favourites-button {
    font-family: "Helvetica", sans-serif;
    font-size: 100%;
    text-align: center;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    margin-top: 100px;
    margin-right: 20px;
}

.artist {
  font-size: 500%;
  margin-bottom: 40px;
  margin-right: 10px;
  text-align: right;

}

.artist-realName {
  font-size: 40px;
  font-weight: 250;
  margin-bottom: 40px;
  margin-left: 60px;
}

.artist-location {
  font-size: 20px;
  font-weight: 250;
  margin-bottom: 0px;
  margin-left: 300px;
}