.round-images {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  filter: grayscale(100%);
  margin: 20px;
  transition: filter 0.2s;
}

.round-images:hover {
  filter: grayscale(0%);
  border-radius: 0%;
}

.image-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 70px;
}

.centered-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin-top: 80px; 
}

.new-releases {
  font-family: "Helvetica", sans-serif;
  font-size: 100%;
  text-align: center;
  width: 150px;
  height: 30px;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 20px;
}

.a-z {
  font-family: "Helvetica", sans-serif;
  font-size: 100%;
  text-align: center;
  width: 150px;
  height: 30px;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 20px;
}

.genres {
  font-family: "Helvetica", sans-serif;
  font-size: 100%;
  text-align: center;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
  color: black;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 20px;
}

.genres:focus {
  outline: 2px solid #000000;
}

.song-of-the-day {
  display: flex;
  margin-top: 150px;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 120px;
}

.animated-text-container {
  border: 2px solid limegreen;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  position: fixed;
  width: 94%;
  overflow: hidden;
}

.animated-text {
  animation: slide 70s ease infinite;
  display: inline-block;
  font-size: 15px;
  font-weight: 200px;
}

.link-text {
  font-size: 45px;
}

@keyframes slide {
  0% {
    transform: translateX(250%);
  }
  100% {
    transform: translateX(-250%);
  }
}

