.username-button {
  font-family: "Helvetica", sans-serif;
  font-size: 130%;
  text-align: center;
  width: 250px;
  height: 30px;
  border-radius: 20px;
  border-color: black;
  border: 1px solid transparent;
  outline: none;
}

.username-button:focus {
  border: 1px solid black;
}

.password-button {
  font-family: "Helvetica", sans-serif;
  font-size: 130%;
  text-align: center;
  width: 250px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid transparent;
  outline: none;
}

.password-button:focus {
  border: 1px solid black;
}

.login-button {
  font-family: "Helvetica", sans-serif;
  font-size: 100%;
  text-align: center;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  margin-left: 222px;
  margin-bottom: 20px;
}

.form-container {
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-bottom: 20px;
}

.input-container {
  gap: 13px;
  padding: 15px;
}

.create-account-link {
  font-size: 150%;
}


