.song-details-container {
  margin-top: 170px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  margin-bottom: 40px;
}

.info-container {
  flex: 1;
  max-width: 100%;
  background-color: white;
}

.songImage {
  width: 99%;
  margin: 0 auto;
  display: block;
}

.songTitle {
  font-size: 600%;
  margin-bottom: 0.1%;
  margin-right: 1px;
  text-align: right;
}

.songArtist {
  font-size: 200%;
  margin-bottom: 40px;
  margin-right: 1px;
  text-align: right;
}

.favourites-button,
.remove-button {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  text-align: center;
  width: 150px;
  height: 30px;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  margin-top: 70px;
  margin-left: 7px;
  margin-bottom: 40px;
}

.remove-button {
  margin-left: 20px;
  width: 200px;
}

.songAlbum {
  font-size: 150%;
  margin-left: 270px;
}

.songGenre {
  font-size: 110%;
  margin-left: 270px;
}