.song-details-container {
  margin-top: 170px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 130px;
  margin-bottom: 150px;
}

.info-container {
  flex: 1;
  max-width: 600px;
  background-color: white;
  padding: 20px;
}

.songImage {
  width: 99%;
  margin: 0 auto;
  display: block;
}

.songTitle {
  font-size: 350%;
  margin-bottom: 20px;
}

.favourites-button,
.remove-button {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  text-align: center;
  width: 150px;
  height: 30px;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
  margin-top: 20px;
}

.remove-button {
  margin-left: 20px;
  width: 200px;
}
